<!DOCTYPE html>
<html lang="ja" layout:decorate="~{commons/layout}"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
>
<head>
  <meta charset="UTF-8" content="noindex,nofollow,noarchive" name="robots">
  <title>プロフィール</title>
</head>
<body>
<section layout:fragment="contents">
  <div class="hero-body">
    <div class="columns has-text-centered is-centered">
      <div class="column is-6">
        <h3 class="title has-text-black">success!!</h3>
        <hr class="login-hr">
        <p class="subtitle has-text-black">ここに情報が表示されます</p>
        <p class="subtitle has-text-grey">グレーテキスト</p>
      </div>
    </div>
  </div>
</section>
</body>
</html>
